* {
    box-sizing: border-box;
}

body {
    background-color: #f2f4f8;
}
h1 {
    text-align: center;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}
p.a {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    font-size: 120%;
}

div.flex {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}


div.karta {
    background-color: white;
    width: 300px;
    height: 420px;
    border-radius: 25px;
    box-shadow: 0 0 20px -8px;
    margin: 20px;
    margin-top: 30px;
}
a.karta {
    color: black;
    text-decoration: none;
}

div.karta img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

div.karta button:hover {
    background-color: #26496d;
}
div.karta h1 {
    margin: 15px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 180%;
    text-align: left;
}

div.karta p {
    font-family: "Lexend", sans-serif;
    font-size: 110%;
    margin: 15px;
    margin-bottom: 0px;
    padding-left: 15px;
    height: 110px;
}